body
{
background: #ffff00; 
background: -webkit-linear-gradient(to right, #ffff00, #ffffe0);  
background: linear-gradient(to right, #ffff00, #ffffe0); 
margin: 0px;
}

td
{
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 70px;
  font-family: 'Indie Flower', cursive;
  font-weight: lighter;
  color: #000
}
h1
{
  text-align: center;
  font-weight: lighter;
  font-family: 'Fira Sans', san-serif;
  text-transform: cursive;
}
.content
{
  margin: 20px auto;
  max-width: 400px;
}
.row1 td, .row2 td
{
  border-bottom: 4px solid #000000;
}
.column1, .column2
{
  border-right: 4px solid #000000;
}
table
{
  margin: 60px auto;
}
.p1
{
  float: left;
  font-weight: normal;
}
.p2
{
  float: right;
  font-weight: normal;
}
.draw
{
  float: center;
  font-weight: normal;
}
.stripe
{
  text-align: center;
  margin-top: 40px;
  
  text-transform: uppercase;
  background: #adff2f;
  height: 80px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;



}
.xplayer
{

  font-weight: normal;
  float: left;
}
.oplayer{

  font-weight: normal;
  float: right;
}
.scores
{
  
  text-align: center;
  background: #ffd700;
  height: 80px;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.win
{
  color: #fffafa;
}
.font_size
{
  font-size: 40px;
  color: #fffafa;
}
#overlay 
{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#text
{
  position: absolute;
  top: 50%;
  left: 50%;
font-family: Arial;
  font-size: 26px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}